* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "menu main main main main main"
    "footer footer footer footer footer footer";
  gap: 5px;
  background-color: #2196f3;
  padding: 10px;
}

.wrapper > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.component-left {
  grid-area: menu;
  height: 100vh;
}

.component-right {
  grid-area: main;
}
.component-bottom {
  grid-area: footer;
  height: 20vh;
}
